**/*Backups/*
**/*Downloads/*
**/*Doc/*
**/*Lst/*
**/*Sym/*
**/*Obj/*
**/*bin/*

*.pcd
*.pcx
*.spcd
*.fbd
*.sym
*.sprg
*.mak
*.err
*.obj
*.obx
*.fuc
*.prb
*.jar
*.si
*.dbg
*.im5
*.saiasd5
*.sd5
*.obl
_**
__**

